-e .
-e git+https://github.com/uw-it-aca/django-supporttools#egg=django_supporttools
-e git+https://github.com/uw-it-aca/authz_group#egg=AuthZ-Group
-e git+https://github.com/uw-it-aca/django-userservice#egg=Django-UserService
-e git+https://github.com/uw-it-aca/uw-restclients#egg=RestClients
