{% load templatetag_handlebars %}
{% tplhandlebars "tool-editor" %}
<form>
    <div class="form-group">
        <label for="et-config-input">Configuration JSON:</label><br/>
        <textarea id="et-config-input">{{stringify config}}</textarea>
    </div>
    <div class="form-group">
        <label for="et-account-input">Subaccount:</label><br/>
        <input id="et-account-input" type="text" name="name" value="{{account_id}}"/>
    </div>
    <input id="et-id-input" type="hidden" value="{{id}}"/>
</form>
{% endtplhandlebars %}
